CLIPNEST_API_TOKEN=change-me
CLIPNEST_PORT=8090
CLIPNEST_DOWNLOAD_DIR_HOST=./downloads
CLIPNEST_PARSER_ADAPTER=native_douyin
CLIPNEST_DOUYIN_COOKIE=
CLIPNEST_DOUYIN_USER_AGENT=
CLIPNEST_TIKTOK_COOKIE=
CLIPNEST_TIKTOK_USER_AGENT=
CLIPNEST_BILIBILI_COOKIE=
CLIPNEST_BILIBILI_USER_AGENT=
CLIPNEST_FFMPEG_PATH=
CLIPNEST_PUBLIC_BASE_URL=
TZ=Asia/Shanghai
